.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boolCard {
  background: #c91d4b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b7284e,
    #de174c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #df2859,
    #cd1042
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.listCard {
  background: #233dcf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #233dcf,
    #233dcf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #233dcf,
    #233dcf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.datesCard {
  background: #642ab6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #642ab6,
    #642ab6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #642ab6,
    #642ab6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.comboCard {
  background: #7779ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7779ff,
    #7779ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7779ff,
    #7779ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
